<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
<% include ../layouts/header %>


<div class="container">
    <br/>
    <form action="/logout" method="POST">
        <div class="form-group row mb-0">
            <button type="submit" class="btn btn-danger">
                Logout
            </button>
        </div>
    </form>

    <% exams.forEach(function(exam){ %>
        <br/>
        <div class="card">
            <div class="card-header">
                <h5>ข้อที่ <%= exam.number %> &nbsp; <%= exam.score %> คะแนน</h5>
            </div>
            <div class="card-body">
                <a href="/exam/<%= exam.number %>" class="btn btn-primary">ไปทำข้อสอบ</a>
                <% if (user.score[exam.number - 1] == 0) { %>
                    <span class="badge badge-danger">ยังทำไม่สำเร็จ</span>
                <% } else{ %>
                    <span class="badge badge-success">ทำสำเร็จ</span>
                <% } %>
            </div>
        </div>
    <% }); %>
    <br/>
</div>

<% include ../layouts/body %>
</body>
</html>