<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1><%= title %></h1>
<h2><%= message %></h2>
<img class="logo" src="/img/nodejs.png">
</body>
</html>