<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./layouts/head %>
</head>
<body>

<%= user.username %>

<form action="/logout" method="POST">
    <div class="form-group row mb-0">
            <button type="submit" class="btn btn-danger">
                Logout
            </button>
    </div>
</form>

<% include ./layouts/body %>
</body>
</html>